<nav class="panel">
    <p class="panel-heading">Trends</p>
    <a class="panel-block">
      IT
    </a>
    <a class="panel-block">
      Ruby on Rail
    </a>
    <a class="panel-block">
      JavaScript
    </a>
    <a class="panel-block">
      Java
    </a>
    <a class="panel-block">
      Python
    </a>
    <a class="panel-block">
      HTML?
    </a>
</nav>
