  <nav class="panel">
    <p class="panel-heading">Who to Follow</p>

    <div class="panel-block">
      <article class="media">
        <div class="media-left">
          <figure class="image is-32x32">
            <img src="https://en.meming.world/images/en/thumb/2/2c/Surprised_Pikachu_HD.jpg/300px-Surprised_Pikachu_HD.jpg">
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>Miłosz Bieniek</strong>
              <small>@tojamozi</small>
            </p>
          </div>
        </div>
      </article>
    </div>
    <div class="panel-block">
      <article class="media">
        <div class="media-left">
          <figure class="image is-32x32">
            <img src="https://en.meming.world/images/en/thumb/2/2c/Surprised_Pikachu_HD.jpg/300px-Surprised_Pikachu_HD.jpg">
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>Miłosz Bieniek</strong>
              <small>@tojamozi</small>
            </p>
          </div>
        </div>
      </article>
    </div>
    <div class="panel-block">
      <article class="media">
        <div class="media-left">
          <figure class="image is-32x32">
            <img src="https://en.meming.world/images/en/thumb/2/2c/Surprised_Pikachu_HD.jpg/300px-Surprised_Pikachu_HD.jpg">
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>Miłosz Bieniek</strong>
              <small>@tojamozi</small>
            </p>
          </div>
        </div>
      </article>
    </div>
</nav>